

            /*! normalize.css v3.0.0 | MIT License | git.io/normalize */

            html {
                font-family: sans-serif;
                -ms-text-size-adjust: 100%;
                -webkit-text-size-adjust: 100%
            }

            body {
                margin: 0

            }

            @media print {
                html {
                    height: 100% !important;
                    background: #fff !important;
                    width: 100%
                }


            }

            article,
            aside,
            details,
            figcaption,
            figure,
            footer,
            header,
            hgroup,
            main,
            nav,
            section,
            summary {
                display: block
            }

            audio,
            canvas,
            progress,
            video {
                display: inline-block;
                vertical-align: baseline
            }

            audio:not([controls]) {
                display: none;
                height: 0
            }

            [hidden],
            template {
                display: none
            }

            a {
                background: 0 0
            }

            a:active,
            a:hover {
                outline: 0
            }

            abbr[title] {
                border-bottom: 1px dotted
            }

            b,
            strong {
                font-weight: 700
            }

            dfn {
                font-style: italic
            }

            h1 {
                font-size: 2em;
                margin: .67em 0
            }

            mark {
                background: #ff0;
                color: #000
            }

            small {
                font-size: 80%
            }

            sub,
            sup {
                font-size: 75%;
                line-height: 0;
                position: relative;
                vertical-align: baseline
            }

            sup {
                top: -.5em
            }

            sub {
                bottom: -.25em
            }

            img {
                border: 0
            }

            svg:not(:root) {
                overflow: hidden
            }

            figure {
                margin: 1em 40px
            }

            hr {
                -moz-box-sizing: content-box;
                box-sizing: content-box;
                height: 0
            }

            pre {
                overflow: auto
            }

            code,
            kbd,
            pre,
            samp {
                font-family: monospace, monospace;
                font-size: 1em
            }

            button,
            input,
            optgroup,
            select,
            textarea {
                color: inherit;
                font: inherit;
                margin: 0
            }

            button {
                overflow: visible
            }

            button,
            select {
                text-transform: none
            }

            button,
            html input[type=button],
            input[type=reset],
            input[type=submit] {
                -webkit-appearance: button;
                cursor: pointer
            }

            button[disabled],
            html input[disabled] {
                cursor: default
            }

            button::-moz-focus-inner,
            input::-moz-focus-inner {
                border: 0;
                padding: 0
            }

            input {
                line-height: normal
            }

            input[type=checkbox],
            input[type=radio] {
                box-sizing: border-box;
                padding: 0
            }

            input[type=number]::-webkit-inner-spin-button,
            input[type=number]::-webkit-outer-spin-button {
                height: auto
            }

            input[type=search] {
                -webkit-appearance: textfield;
                -moz-box-sizing: content-box;
                -webkit-box-sizing: content-box;
                box-sizing: content-box
            }

            input[type=search]::-webkit-search-cancel-button,
            input[type=search]::-webkit-search-decoration {
                -webkit-appearance: none
            }

            fieldset {
                border: 1px solid silver;
                margin: 0 2px;
                padding: .35em .625em .75em
            }

            legend {
                border: 0;
                padding: 0
            }

            textarea {
                overflow: auto
            }

            optgroup {
                font-weight: 700
            }

            table {
                border-collapse: collapse;
                border-spacing: 0
            }

            td,
            th {
                padding: 0
            }

            * {
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box
            }

            :before,
            :after {
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box
            }

            html {
                font-size: 62.5%;
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
            }

            body {
                font-family: 'Lato', sans-serif;
                font-size: 14px;
                line-height: 1.42857143;
                color: #333;
                background-color: #fff
            }

            input,
            button,
            select,
            textarea {
                font-family: inherit;
                font-size: inherit;
                line-height: inherit
            }

            a {
                color: #0079c1;
                text-decoration: none
            }

            a:hover,
            a:focus {
                color: #004975;
                text-decoration: underline
            }

            a:focus {
                outline: thin dotted;
                outline: 5px auto -webkit-focus-ring-color;
                outline-offset: -2px
            }

            figure {
                margin: 0
            }

            img {
                vertical-align: middle
            }

            .img-responsive,
            .thumbnail>img,
            .thumbnail a>img,
            .carousel-inner>.item>img,
            .carousel-inner>.item>a>img {
                display: block;
                max-width: 100%;
                height: auto
            }

            .img-rounded {
                border-radius: 6px
            }

            .img-thumbnail {
                padding: 4px;
                line-height: 1.42857143;
                background-color: #fff;
                border: 1px solid #ddd;
                border-radius: 4px;
                -webkit-transition: all .2s ease-in-out;
                -o-transition: all .2s ease-in-out;
                transition: all .2s ease-in-out;
                display: inline-block;
                max-width: 100%;
                height: auto
            }

            .img-circle {
                border-radius: 50%
            }

            hr {
                margin-top: 20px;
                margin-bottom: 20px;
                border: 0;
                border-top: 1px solid #eee
            }

            .sr-only {
                position: absolute;
                width: 1px;
                height: 1px;
                margin: -1px;
                padding: 0;
                overflow: hidden;
                clip: rect(0, 0, 0, 0);
                border: 0
            }



            .container-fluid {
                margin-right: auto;
                margin-left: auto;
                padding-left: 15px;
                padding-right: 15px
            }

            .row {
                margin-left: -15px;
                margin-right: -15px
            }

            .col-xs-1,
            .col-sm-1,
            .col-md-1,
            .col-lg-1,
            .col-xs-2,
            .col-sm-2,
            .col-md-2,
            .col-lg-2,
            .col-xs-3,
            .col-sm-3,
            .col-md-3,
            .col-lg-3,
            .col-xs-4,
            .col-sm-4,
            .col-md-4,
            .col-lg-4,
            .col-xs-5,
            .col-sm-5,
            .col-md-5,
            .col-lg-5,
            .col-xs-6,
            .col-sm-6,
            .col-md-6,
            .col-lg-6,
            .col-xs-7,
            .col-sm-7,
            .col-md-7,
            .col-lg-7,
            .col-xs-8,
            .col-sm-8,
            .col-md-8,
            .col-lg-8,
            .col-xs-9,
            .col-sm-9,
            .col-md-9,
            .col-lg-9,
            .col-xs-10,
            .col-sm-10,
            .col-md-10,
            .col-lg-10,
            .col-xs-11,
            .col-sm-11,
            .col-md-11,
            .col-lg-11,
            .col-xs-12,
            .col-sm-12,
            .col-md-12,
            .col-lg-12 {
                position: relative;
                min-height: 1px;
                padding-left: 15px;
                padding-right: 15px
            }

            .col-xs-1,
            .col-xs-2,
            .col-xs-3,
            .col-xs-4,
            .col-xs-5,
            .col-xs-6,
            .col-xs-7,
            .col-xs-8,
            .col-xs-9,
            .col-xs-10,
            .col-xs-11,
            .col-xs-12 {
                float: left
            }

            .col-xs-12 {
                width: 100%
            }

            .col-xs-11 {
                width: 91.66666667%
            }

            .col-xs-10 {
                width: 83.33333333%
            }

            .col-xs-9 {
                width: 75%
            }

            .col-xs-8 {
                width: 66.66666667%
            }

            .col-xs-7 {
                width: 58.33333333%
            }

            .col-xs-6 {
                width: 50%
            }

            .col-xs-5 {
                width: 41.66666667%
            }

            .col-xs-4 {
                width: 33.33333333%
            }

            .col-xs-3 {
                width: 25%
            }

            .col-xs-2 {
                width: 16.66666667%
            }

            .col-xs-1 {
                width: 8.33333333%
            }

            .col-xs-pull-12 {
                right: 100%
            }

            .col-xs-pull-11 {
                right: 91.66666667%
            }

            .col-xs-pull-10 {
                right: 83.33333333%
            }

            .col-xs-pull-9 {
                right: 75%
            }

            .col-xs-pull-8 {
                right: 66.66666667%
            }

            .col-xs-pull-7 {
                right: 58.33333333%
            }

            .col-xs-pull-6 {
                right: 50%
            }

            .col-xs-pull-5 {
                right: 41.66666667%
            }

            .col-xs-pull-4 {
                right: 33.33333333%
            }

            .col-xs-pull-3 {
                right: 25%
            }

            .col-xs-pull-2 {
                right: 16.66666667%
            }

            .col-xs-pull-1 {
                right: 8.33333333%
            }

            .col-xs-pull-0 {
                right: 0
            }

            .col-xs-push-12 {
                left: 100%
            }

            .col-xs-push-11 {
                left: 91.66666667%
            }

            .col-xs-push-10 {
                left: 83.33333333%
            }

            .col-xs-push-9 {
                left: 75%
            }

            .col-xs-push-8 {
                left: 66.66666667%
            }

            .col-xs-push-7 {
                left: 58.33333333%
            }

            .col-xs-push-6 {
                left: 50%
            }

            .col-xs-push-5 {
                left: 41.66666667%
            }

            .col-xs-push-4 {
                left: 33.33333333%
            }

            .col-xs-push-3 {
                left: 25%
            }

            .col-xs-push-2 {
                left: 16.66666667%
            }

            .col-xs-push-1 {
                left: 8.33333333%
            }

            .col-xs-push-0 {
                left: 0
            }

            .col-xs-offset-12 {
                margin-left: 100%
            }

            .col-xs-offset-11 {
                margin-left: 91.66666667%
            }

            .col-xs-offset-10 {
                margin-left: 83.33333333%
            }

            .col-xs-offset-9 {
                margin-left: 75%
            }

            .col-xs-offset-8 {
                margin-left: 66.66666667%
            }

            .col-xs-offset-7 {
                margin-left: 58.33333333%
            }

            .col-xs-offset-6 {
                margin-left: 50%
            }

            .col-xs-offset-5 {
                margin-left: 41.66666667%
            }

            .col-xs-offset-4 {
                margin-left: 33.33333333%
            }

            .col-xs-offset-3 {
                margin-left: 25%
            }

            .col-xs-offset-2 {
                margin-left: 16.66666667%
            }

            .col-xs-offset-1 {
                margin-left: 8.33333333%
            }

            .col-xs-offset-0 {
                margin-left: 0
            }

            @media (min-width:768px) {
                .col-sm-1,
                .col-sm-2,
                .col-sm-3,
                .col-sm-4,
                .col-sm-5,
                .col-sm-6,
                .col-sm-7,
                .col-sm-8,
                .col-sm-9,
                .col-sm-10,
                .col-sm-11,
                .col-sm-12 {
                    float: left
                }
                .col-sm-12 {
                    width: 100%
                }
                .col-sm-11 {
                    width: 91.66666667%
                }
                .col-sm-10 {
                    width: 83.33333333%
                }
                .col-sm-9 {
                    width: 75%
                }
                .col-sm-8 {
                    width: 66.66666667%
                }
                .col-sm-7 {
                    width: 58.33333333%
                }
                .col-sm-6 {
                    width: 50%
                }
                .col-sm-5 {
                    width: 41.66666667%
                }
                .col-sm-4 {
                    width: 33.33333333%
                }
                .col-sm-3 {
                    width: 25%
                }
                .col-sm-2 {
                    width: 16.66666667%
                }
                .col-sm-1 {
                    width: 8.33333333%
                }
                .col-sm-pull-12 {
                    right: 100%
                }
                .col-sm-pull-11 {
                    right: 91.66666667%
                }
                .col-sm-pull-10 {
                    right: 83.33333333%
                }
                .col-sm-pull-9 {
                    right: 75%
                }
                .col-sm-pull-8 {
                    right: 66.66666667%
                }
                .col-sm-pull-7 {
                    right: 58.33333333%
                }
                .col-sm-pull-6 {
                    right: 50%
                }
                .col-sm-pull-5 {
                    right: 41.66666667%
                }
                .col-sm-pull-4 {
                    right: 33.33333333%
                }
                .col-sm-pull-3 {
                    right: 25%
                }
                .col-sm-pull-2 {
                    right: 16.66666667%
                }
                .col-sm-pull-1 {
                    right: 8.33333333%
                }
                .col-sm-pull-0 {
                    right: 0
                }
                .col-sm-push-12 {
                    left: 100%
                }
                .col-sm-push-11 {
                    left: 91.66666667%
                }
                .col-sm-push-10 {
                    left: 83.33333333%
                }
                .col-sm-push-9 {
                    left: 75%
                }
                .col-sm-push-8 {
                    left: 66.66666667%
                }
                .col-sm-push-7 {
                    left: 58.33333333%
                }
                .col-sm-push-6 {
                    left: 50%
                }
                .col-sm-push-5 {
                    left: 41.66666667%
                }
                .col-sm-push-4 {
                    left: 33.33333333%
                }
                .col-sm-push-3 {
                    left: 25%
                }
                .col-sm-push-2 {
                    left: 16.66666667%
                }
                .col-sm-push-1 {
                    left: 8.33333333%
                }
                .col-sm-push-0 {
                    left: 0
                }
                .col-sm-offset-12 {
                    margin-left: 100%
                }
                .col-sm-offset-11 {
                    margin-left: 91.66666667%
                }
                .col-sm-offset-10 {
                    margin-left: 83.33333333%
                }
                .col-sm-offset-9 {
                    margin-left: 75%
                }
                .col-sm-offset-8 {
                    margin-left: 66.66666667%
                }
                .col-sm-offset-7 {
                    margin-left: 58.33333333%
                }
                .col-sm-offset-6 {
                    margin-left: 50%
                }
                .col-sm-offset-5 {
                    margin-left: 41.66666667%
                }
                .col-sm-offset-4 {
                    margin-left: 33.33333333%
                }
                .col-sm-offset-3 {
                    margin-left: 25%
                }
                .col-sm-offset-2 {
                    margin-left: 16.66666667%
                }
                .col-sm-offset-1 {
                    margin-left: 8.33333333%
                }
                .col-sm-offset-0 {
                    margin-left: 0
                }
            }

            @media (min-width:992px) {
                .col-md-1,
                .col-md-2,
                .col-md-3,
                .col-md-4,
                .col-md-5,
                .col-md-6,
                .col-md-7,
                .col-md-8,
                .col-md-9,
                .col-md-10,
                .col-md-11,
                .col-md-12 {
                    float: left
                }
                .col-md-12 {
                    width: 100%
                }
                .col-md-11 {
                    width: 91.66666667%
                }
                .col-md-10 {
                    width: 83.33333333%
                }
                .col-md-9 {
                    width: 75%
                }
                .col-md-8 {
                    width: 66.66666667%
                }
                .col-md-7 {
                    width: 58.33333333%
                }
                .col-md-6 {
                    width: 50%
                }
                .col-md-5 {
                    width: 41.66666667%
                }
                .col-md-4 {
                    width: 33.33333333%
                }
                .col-md-3 {
                    width: 25%
                }
                .col-md-2 {
                    width: 16.66666667%
                }
                .col-md-1 {
                    width: 8.33333333%
                }
                .col-md-pull-12 {
                    right: 100%
                }
                .col-md-pull-11 {
                    right: 91.66666667%
                }
                .col-md-pull-10 {
                    right: 83.33333333%
                }
                .col-md-pull-9 {
                    right: 75%
                }
                .col-md-pull-8 {
                    right: 66.66666667%
                }
                .col-md-pull-7 {
                    right: 58.33333333%
                }
                .col-md-pull-6 {
                    right: 50%
                }
                .col-md-pull-5 {
                    right: 41.66666667%
                }
                .col-md-pull-4 {
                    right: 33.33333333%
                }
                .col-md-pull-3 {
                    right: 25%
                }
                .col-md-pull-2 {
                    right: 16.66666667%
                }
                .col-md-pull-1 {
                    right: 8.33333333%
                }
                .col-md-pull-0 {
                    right: 0
                }
                .col-md-push-12 {
                    left: 100%
                }
                .col-md-push-11 {
                    left: 91.66666667%
                }
                .col-md-push-10 {
                    left: 83.33333333%
                }
                .col-md-push-9 {
                    left: 75%
                }
                .col-md-push-8 {
                    left: 66.66666667%
                }
                .col-md-push-7 {
                    left: 58.33333333%
                }
                .col-md-push-6 {
                    left: 50%
                }
                .col-md-push-5 {
                    left: 41.66666667%
                }
                .col-md-push-4 {
                    left: 33.33333333%
                }
                .col-md-push-3 {
                    left: 25%
                }
                .col-md-push-2 {
                    left: 16.66666667%
                }
                .col-md-push-1 {
                    left: 8.33333333%
                }
                .col-md-push-0 {
                    left: 0
                }
                .col-md-offset-12 {
                    margin-left: 100%
                }
                .col-md-offset-11 {
                    margin-left: 91.66666667%
                }
                .col-md-offset-10 {
                    margin-left: 83.33333333%
                }
                .col-md-offset-9 {
                    margin-left: 75%
                }
                .col-md-offset-8 {
                    margin-left: 66.66666667%
                }
                .col-md-offset-7 {
                    margin-left: 58.33333333%
                }
                .col-md-offset-6 {
                    margin-left: 50%
                }
                .col-md-offset-5 {
                    margin-left: 41.66666667%
                }
                .col-md-offset-4 {
                    margin-left: 33.33333333%
                }
                .col-md-offset-3 {
                    margin-left: 25%
                }
                .col-md-offset-2 {
                    margin-left: 16.66666667%
                }
                .col-md-offset-1 {
                    margin-left: 8.33333333%
                }
                .col-md-offset-0 {
                    margin-left: 0
                }
            }

            @media (min-width:1200px) {
                .col-lg-1,
                .col-lg-2,
                .col-lg-3,
                .col-lg-4,
                .col-lg-5,
                .col-lg-6,
                .col-lg-7,
                .col-lg-8,
                .col-lg-9,
                .col-lg-10,
                .col-lg-11,
                .col-lg-12 {
                    float: left
                }
                .col-lg-12 {
                    width: 100%
                }
                .col-lg-11 {
                    width: 91.66666667%
                }
                .col-lg-10 {
                    width: 83.33333333%
                }
                .col-lg-9 {
                    width: 75%
                }
                .col-lg-8 {
                    width: 66.66666667%
                }
                .col-lg-7 {
                    width: 58.33333333%
                }
                .col-lg-6 {
                    width: 50%
                }
                .col-lg-5 {
                    width: 41.66666667%
                }
                .col-lg-4 {
                    width: 33.33333333%
                }
                .col-lg-3 {
                    width: 25%
                }
                .col-lg-2 {
                    width: 16.66666667%
                }
                .col-lg-1 {
                    width: 8.33333333%
                }
                .col-lg-pull-12 {
                    right: 100%
                }
                .col-lg-pull-11 {
                    right: 91.66666667%
                }
                .col-lg-pull-10 {
                    right: 83.33333333%
                }
                .col-lg-pull-9 {
                    right: 75%
                }
                .col-lg-pull-8 {
                    right: 66.66666667%
                }
                .col-lg-pull-7 {
                    right: 58.33333333%
                }
                .col-lg-pull-6 {
                    right: 50%
                }
                .col-lg-pull-5 {
                    right: 41.66666667%
                }
                .col-lg-pull-4 {
                    right: 33.33333333%
                }
                .col-lg-pull-3 {
                    right: 25%
                }
                .col-lg-pull-2 {
                    right: 16.66666667%
                }
                .col-lg-pull-1 {
                    right: 8.33333333%
                }
                .col-lg-pull-0 {
                    right: 0
                }
                .col-lg-push-12 {
                    left: 100%
                }
                .col-lg-push-11 {
                    left: 91.66666667%
                }
                .col-lg-push-10 {
                    left: 83.33333333%
                }
                .col-lg-push-9 {
                    left: 75%
                }
                .col-lg-push-8 {
                    left: 66.66666667%
                }
                .col-lg-push-7 {
                    left: 58.33333333%
                }
                .col-lg-push-6 {
                    left: 50%
                }
                .col-lg-push-5 {
                    left: 41.66666667%
                }
                .col-lg-push-4 {
                    left: 33.33333333%
                }
                .col-lg-push-3 {
                    left: 25%
                }
                .col-lg-push-2 {
                    left: 16.66666667%
                }
                .col-lg-push-1 {
                    left: 8.33333333%
                }
                .col-lg-push-0 {
                    left: 0
                }
                .col-lg-offset-12 {
                    margin-left: 100%
                }
                .col-lg-offset-11 {
                    margin-left: 91.66666667%
                }
                .col-lg-offset-10 {
                    margin-left: 83.33333333%
                }
                .col-lg-offset-9 {
                    margin-left: 75%
                }
                .col-lg-offset-8 {
                    margin-left: 66.66666667%
                }
                .col-lg-offset-7 {
                    margin-left: 58.33333333%
                }
                .col-lg-offset-6 {
                    margin-left: 50%
                }
                .col-lg-offset-5 {
                    margin-left: 41.66666667%
                }
                .col-lg-offset-4 {
                    margin-left: 33.33333333%
                }
                .col-lg-offset-3 {
                    margin-left: 25%
                }
                .col-lg-offset-2 {
                    margin-left: 16.66666667%
                }
                .col-lg-offset-1 {
                    margin-left: 8.33333333%
                }
                .col-lg-offset-0 {
                    margin-left: 0
                }
            }

            table {
                max-width: 100%;
                background-color: transparent
            }

            th {
                text-align: left
            }

            .table {
                width: 100%;
                margin-bottom: 20px
            }

            .table>thead>tr>th,
            .table>tbody>tr>th,
            .table>tfoot>tr>th,
            .table>thead>tr>td,
            .table>tbody>tr>td,
            .table>tfoot>tr>td {
                padding: 8px;
                line-height: 1.42857143;
                vertical-align: top;
                border-top: 1px solid #ddd
            }

            .table>thead>tr>th {
                vertical-align: bottom;
                border-bottom: 2px solid #ddd
            }

            .table>caption+thead>tr:first-child>th,
            .table>colgroup+thead>tr:first-child>th,
            .table>thead:first-child>tr:first-child>th,
            .table>caption+thead>tr:first-child>td,
            .table>colgroup+thead>tr:first-child>td,
            .table>thead:first-child>tr:first-child>td {
                border-top: 0
            }

            .table>tbody+tbody {
                border-top: 2px solid #ddd
            }

            .table .table {
                background-color: #fff
            }

            .table-condensed>thead>tr>th,
            .table-condensed>tbody>tr>th,
            .table-condensed>tfoot>tr>th,
            .table-condensed>thead>tr>td,
            .table-condensed>tbody>tr>td,
            .table-condensed>tfoot>tr>td {
                padding: 5px
            }

            .table-bordered {
                border: 1px solid #ddd
            }

            .table-bordered>thead>tr>th,
            .table-bordered>tbody>tr>th,
            .table-bordered>tfoot>tr>th,
            .table-bordered>thead>tr>td,
            .table-bordered>tbody>tr>td,
            .table-bordered>tfoot>tr>td {
                border: 1px solid #ddd
            }

            .table-bordered>thead>tr>th,
            .table-bordered>thead>tr>td {
                border-bottom-width: 2px
            }

            .table-striped>tbody>tr:nth-child(odd)>td,
            .table-striped>tbody>tr:nth-child(odd)>th {
                background-color: #f9f9f9
            }

            .table-hover>tbody>tr:hover>td,
            .table-hover>tbody>tr:hover>th {
                background-color: #f5f5f5
            }

            table col[class*=col-] {
                position: static;
                float: none;
                display: table-column
            }

            table td[class*=col-],
            table th[class*=col-] {
                position: static;
                float: none;
                display: table-cell
            }

            .table>thead>tr>td.active,
            .table>tbody>tr>td.active,
            .table>tfoot>tr>td.active,
            .table>thead>tr>th.active,
            .table>tbody>tr>th.active,
            .table>tfoot>tr>th.active,
            .table>thead>tr.active>td,
            .table>tbody>tr.active>td,
            .table>tfoot>tr.active>td,
            .table>thead>tr.active>th,
            .table>tbody>tr.active>th,
            .table>tfoot>tr.active>th {
                background-color: #f5f5f5
            }

            .table-hover>tbody>tr>td.active:hover,
            .table-hover>tbody>tr>th.active:hover,
            .table-hover>tbody>tr.active:hover>td,
            .table-hover>tbody>tr.active:hover>th {
                background-color: #e8e8e8
            }

            .table>thead>tr>td.success,
            .table>tbody>tr>td.success,
            .table>tfoot>tr>td.success,
            .table>thead>tr>th.success,
            .table>tbody>tr>th.success,
            .table>tfoot>tr>th.success,
            .table>thead>tr.success>td,
            .table>tbody>tr.success>td,
            .table>tfoot>tr.success>td,
            .table>thead>tr.success>th,
            .table>tbody>tr.success>th,
            .table>tfoot>tr.success>th {
                background-color: #dff0d8
            }

            .table-hover>tbody>tr>td.success:hover,
            .table-hover>tbody>tr>th.success:hover,
            .table-hover>tbody>tr.success:hover>td,
            .table-hover>tbody>tr.success:hover>th {
                background-color: #d0e9c6
            }

            .table>thead>tr>td.info,
            .table>tbody>tr>td.info,
            .table>tfoot>tr>td.info,
            .table>thead>tr>th.info,
            .table>tbody>tr>th.info,
            .table>tfoot>tr>th.info,
            .table>thead>tr.info>td,
            .table>tbody>tr.info>td,
            .table>tfoot>tr.info>td,
            .table>thead>tr.info>th,
            .table>tbody>tr.info>th,
            .table>tfoot>tr.info>th {
                background-color: #d9edf7
            }

            .table-hover>tbody>tr>td.info:hover,
            .table-hover>tbody>tr>th.info:hover,
            .table-hover>tbody>tr.info:hover>td,
            .table-hover>tbody>tr.info:hover>th {
                background-color: #c4e3f3
            }

            .table>thead>tr>td.warning,
            .table>tbody>tr>td.warning,
            .table>tfoot>tr>td.warning,
            .table>thead>tr>th.warning,
            .table>tbody>tr>th.warning,
            .table>tfoot>tr>th.warning,
            .table>thead>tr.warning>td,
            .table>tbody>tr.warning>td,
            .table>tfoot>tr.warning>td,
            .table>thead>tr.warning>th,
            .table>tbody>tr.warning>th,
            .table>tfoot>tr.warning>th {
                background-color: #fcf8e3
            }

            .table-hover>tbody>tr>td.warning:hover,
            .table-hover>tbody>tr>th.warning:hover,
            .table-hover>tbody>tr.warning:hover>td,
            .table-hover>tbody>tr.warning:hover>th {
                background-color: #faf2cc
            }

            .table>thead>tr>td.danger,
            .table>tbody>tr>td.danger,
            .table>tfoot>tr>td.danger,
            .table>thead>tr>th.danger,
            .table>tbody>tr>th.danger,
            .table>tfoot>tr>th.danger,
            .table>thead>tr.danger>td,
            .table>tbody>tr.danger>td,
            .table>tfoot>tr.danger>td,
            .table>thead>tr.danger>th,
            .table>tbody>tr.danger>th,
            .table>tfoot>tr.danger>th {
                background-color: #f2dede
            }

            .table-hover>tbody>tr>td.danger:hover,
            .table-hover>tbody>tr>th.danger:hover,
            .table-hover>tbody>tr.danger:hover>td,
            .table-hover>tbody>tr.danger:hover>th {
                background-color: #ebcccc
            }

            @media (max-width:767px) {
                .table-responsive {
                    width: 100%;
                    margin-bottom: 15px;
                    /*				overflow-y: hidden;*/
                    overflow-x: scroll;
                    -ms-overflow-style: -ms-autohiding-scrollbar;
                    border: 1px solid #ddd;
                    -webkit-overflow-scrolling: touch
                }
                .table-responsive>.table {
                    margin-bottom: 0
                }
                .table-responsive>.table>thead>tr>th,
                .table-responsive>.table>tbody>tr>th,
                .table-responsive>.table>tfoot>tr>th,
                .table-responsive>.table>thead>tr>td,
                .table-responsive>.table>tbody>tr>td,
                .table-responsive>.table>tfoot>tr>td {
                    white-space: nowrap
                }
                .table-responsive>.table-bordered {
                    border: 0
                }
                .table-responsive>.table-bordered>thead>tr>th:first-child,
                .table-responsive>.table-bordered>tbody>tr>th:first-child,
                .table-responsive>.table-bordered>tfoot>tr>th:first-child,
                .table-responsive>.table-bordered>thead>tr>td:first-child,
                .table-responsive>.table-bordered>tbody>tr>td:first-child,
                .table-responsive>.table-bordered>tfoot>tr>td:first-child {
                    border-left: 0
                }
                .table-responsive>.table-bordered>thead>tr>th:last-child,
                .table-responsive>.table-bordered>tbody>tr>th:last-child,
                .table-responsive>.table-bordered>tfoot>tr>th:last-child,
                .table-responsive>.table-bordered>thead>tr>td:last-child,
                .table-responsive>.table-bordered>tbody>tr>td:last-child,
                .table-responsive>.table-bordered>tfoot>tr>td:last-child {
                    border-right: 0
                }
                .table-responsive>.table-bordered>tbody>tr:last-child>th,
                .table-responsive>.table-bordered>tfoot>tr:last-child>th,
                .table-responsive>.table-bordered>tbody>tr:last-child>td,
                .table-responsive>.table-bordered>tfoot>tr:last-child>td {
                    border-bottom: 0
                }
            }

            fieldset {
                padding: 0;
                margin: 0;
                border: 0;
                min-width: 0
            }

            legend {
                display: block;
                width: 100%;
                padding: 0;
                margin-bottom: 20px;
                font-size: 21px;
                line-height: inherit;
                color: #333;
                border: 0;
                border-bottom: 1px solid #e5e5e5
            }

            label {
                display: inline-block;
                margin-bottom: 5px;
                font-weight: 700
            }

            input[type=search] {
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box
            }

            input[type=radio],
            input[type=checkbox] {
                margin: 4px 0 0;
                margin-top: 1px \9;
                line-height: normal
            }

            input[type=file] {
                display: block
            }

            input[type=range] {
                display: block;
                width: 100%
            }

            select[multiple],
            select[size] {
                height: auto
            }

            input[type=file]:focus,
            input[type=radio]:focus,
            input[type=checkbox]:focus {
                outline: thin dotted;
                outline: 5px auto -webkit-focus-ring-color;
                outline-offset: -2px
            }

            output {
                display: block;
                padding-top: 7px;
                font-size: 14px;
                line-height: 1.42857143;
                color: #666
            }
            .clearfix:before,
            .clearfix:after,
            .container:before,
            .container:after,
            .container-fluid:before,
            .container-fluid:after,
            .row:before,
            .row:after,
            .form-horizontal .form-group:before,
            .form-horizontal .form-group:after,
            .btn-toolbar:before,
            .btn-toolbar:after,
            .btn-group-vertical>.btn-group:before,
            .btn-group-vertical>.btn-group:after,
            .nav:before,
            .nav:after,
            .navbar:before,
            .navbar:after,
            .navbar-header:before,
            .navbar-header:after,
            .navbar-collapse:before,
            .navbar-collapse:after,
            .pager:before,
            .pager:after,
            .panel-body:before,
            .panel-body:after,
            .modal-footer:before,
            .modal-footer:after {
                content: " ";
                display: table
            }

            .clearfix:after,
            .container:after,
            .container-fluid:after,
            .row:after,
            .form-horizontal .form-group:after,
            .btn-toolbar:after,
            .btn-group-vertical>.btn-group:after,
            .nav:after,
            .navbar:after,
            .navbar-header:after,
            .navbar-collapse:after,
            .pager:after,
            .panel-body:after,
            .modal-footer:after {
                clear: both
            }

            .clearfix:after,
            .container:after,
            .container-fluid:after,
            .row:after,
            .form-horizontal .form-group:after,
            .btn-toolbar:after,
            .btn-group-vertical>.btn-group:after,
            .nav:after,
            .navbar:after,
            .navbar-header:after,
            .navbar-collapse:after,
            .pager:after,
            .panel-body:after,
            .modal-footer:after {
                content: "";
                display: table;
                clear: both
            }

            .center-block {
                display: block;
                margin-left: auto;
                margin-right: auto
            }

            .pull-right {
                float: right!important
            }

            .pull-left {
                float: left!important
            }

            .hide {
                display: none!important
            }

            .show {
                display: block!important
            }
            .form-control {
                display: block;
                width: 100%;
                height: 34px;
                padding: 6px 12px;
                font-size: 14px;
                line-height: 1.42857143;
                color: #666;
                background-color: #fff;
                background-image: none;
                border: 1px solid #ccc;
                border-radius: 4px;
                -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
                -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
                -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
                transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
            }

            .form-control:focus {
                border-color: #66afe9;
                outline: 0;
                -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
            }

            .form-control::-moz-placeholder {
                color: #999;
                opacity: 1
            }

            .form-control:-ms-input-placeholder {
                color: #999
            }

            .form-control::-webkit-input-placeholder {
                color: #999
            }

            .form-control[disabled],
            .form-control[readonly],
            fieldset[disabled] .form-control {
                cursor: not-allowed;
                background-color: #eee;
                opacity: 1
            }

            textarea.form-control {
                height: auto
            }

            input[type=search] {
                -webkit-appearance: none
            }

            input[type=date] {
                line-height: 34px
            }

            .form-group {
                margin-bottom: 15px
            }

            .radio,
            .checkbox {
                display: block;
                min-height: 20px;
                margin-top: 10px;
                margin-bottom: 10px;
                padding-left: 20px
            }

            .radio label,
            .checkbox label {
                display: inline;
                font-weight: 400;
                cursor: pointer
            }

            .radio input[type=radio],
            .radio-inline input[type=radio],
            .checkbox input[type=checkbox],
            .checkbox-inline input[type=checkbox] {
                float: left;
                margin-left: -20px
            }

            .radio+.radio,
            .checkbox+.checkbox {
                margin-top: -5px
            }

            .radio-inline,
            .checkbox-inline {
                display: inline-block;
                padding-left: 20px;
                margin-bottom: 0;
                vertical-align: middle;
                font-weight: 400;
                cursor: pointer
            }

            .radio-inline+.radio-inline,
            .checkbox-inline+.checkbox-inline {
                margin-top: 0;
                margin-left: 10px
            }

            input[type=radio][disabled],
            input[type=checkbox][disabled],
            .radio[disabled],
            .radio-inline[disabled],
            .checkbox[disabled],
            .checkbox-inline[disabled],
            fieldset[disabled] input[type=radio],
            fieldset[disabled] input[type=checkbox],
            fieldset[disabled] .radio,
            fieldset[disabled] .radio-inline,
            fieldset[disabled] .checkbox,
            fieldset[disabled] .checkbox-inline {
                cursor: not-allowed
            }

            .input-sm {
                height: 30px;
                padding: 5px 10px;
                font-size: 12px;
                line-height: 1.5;
                border-radius: 3px
            }

            select.input-sm {
                height: 30px;
                line-height: 30px
            }

            textarea.input-sm,
            select[multiple].input-sm {
                height: auto
            }

            .input-lg {
                height: 46px;
                padding: 10px 16px;
                font-size: 18px;
                line-height: 1.33;
                border-radius: 6px
            }

            select.input-lg {
                height: 46px;
                line-height: 46px
            }

            textarea.input-lg,
            select[multiple].input-lg {
                height: auto
            }

            .has-feedback {
                position: relative
            }

            .has-feedback .form-control {
                padding-right: 42.5px
            }

            .has-feedback .form-control-feedback {
                position: absolute;
                top: 25px;
                right: 0;
                display: block;
                width: 34px;
                height: 34px;
                line-height: 34px;
                text-align: center
            }

            .has-success .help-block,
            .has-success .control-label,
            .has-success .radio,
            .has-success .checkbox,
            .has-success .radio-inline,
            .has-success .checkbox-inline {
                color: #3c763d
            }

            .has-success .form-control {
                border-color: #3c763d;
                -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)
            }

            .has-success .form-control:focus {
                border-color: #2b542c;
                -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168
            }

            .has-success .input-group-addon {
                color: #3c763d;
                border-color: #3c763d;
                background-color: #dff0d8
            }

            .has-success .form-control-feedback {
                color: #3c763d
            }

            .has-warning .help-block,
            .has-warning .control-label,
            .has-warning .radio,
            .has-warning .checkbox,
            .has-warning .radio-inline,
            .has-warning .checkbox-inline {
                color: #8a6d3b
            }

            .has-warning .form-control {
                border-color: #8a6d3b;
                -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)
            }

            .has-warning .form-control:focus {
                border-color: #66512c;
                -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #c0a16b;
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #c0a16b
            }

            .has-warning .input-group-addon {
                color: #8a6d3b;
                border-color: #8a6d3b;
                background-color: #fcf8e3
            }

            .has-warning .form-control-feedback {
                color: #8a6d3b
            }

            .has-error .help-block,
            .has-error .control-label,
            .has-error .radio,
            .has-error .checkbox,
            .has-error .radio-inline,
            .has-error .checkbox-inline {
                color: #a94442
            }

            .has-error .form-control {
                border-color: #a94442;
                -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)
            }

            .has-error .form-control:focus {
                border-color: #843534;
                -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483
            }

            .has-error .input-group-addon {
                color: #a94442;
                border-color: #a94442;
                background-color: #f2dede
            }

            .has-error .form-control-feedback {
                color: #a94442
            }

            .form-control-static {
                margin-bottom: 0
            }

            .help-block {
                display: block;
                margin-top: 5px;
                margin-bottom: 10px;
                color: #737373
            }

            @media (min-width:768px) {
                .form-inline .form-group {
                    display: inline-block;
                    margin-bottom: 0;
                    vertical-align: middle
                }
                .form-inline .form-control {
                    display: inline-block;
                    width: auto;
                    vertical-align: middle
                }
                .form-inline .input-group>.form-control {
                    width: 100%
                }
                .form-inline .control-label {
                    margin-bottom: 0;
                    vertical-align: middle
                }
                .form-inline .radio,
                .form-inline .checkbox {
                    display: inline-block;
                    margin-top: 0;
                    margin-bottom: 0;
                    padding-left: 0;
                    vertical-align: middle
                }
                .form-inline .radio input[type=radio],
                .form-inline .checkbox input[type=checkbox] {
                    float: none;
                    margin-left: 0
                }
                .form-inline .has-feedback .form-control-feedback {
                    top: 0
                }
            }

            .form-horizontal .control-label,
            .form-horizontal .radio,
            .form-horizontal .checkbox,
            .form-horizontal .radio-inline,
            .form-horizontal .checkbox-inline {
                margin-top: 0;
                margin-bottom: 0;
                padding-top: 7px
            }

            .form-horizontal .radio,
            .form-horizontal .checkbox {
                min-height: 27px
            }

            .form-horizontal .form-group {
                margin-left: -15px;
                margin-right: -15px
            }

            .form-horizontal .form-control-static {
                padding-top: 7px
            }

            @media (min-width:768px) {
                .form-horizontal .control-label {
                    text-align: right
                }
            }

            .form-horizontal .has-feedback .form-control-feedback {
                top: 0;
                right: 15px
            }

            .btn {
                display: inline-block;
                margin-bottom: 0;
                font-weight: 400;
                text-align: center;
                vertical-align: middle;
                cursor: pointer;
                background-image: none;
                border: 1px solid transparent;
                white-space: nowrap;
                padding: 6px 12px;
                font-size: 14px;
                line-height: 1.42857143;
                border-radius: 4px;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none
            }

            .btn:focus,
            .btn:active:focus,
            .btn.active:focus {
                outline: thin dotted;
                outline: 5px auto -webkit-focus-ring-color;
                outline-offset: -2px
            }

            .btn:hover,
            .btn:focus {
                color: #333;
                text-decoration: none
            }

            .btn:active,
            .btn.active {
                outline: 0;
                background-image: none;
                -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
                box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)
            }

            .btn.disabled,
            .btn[disabled],
            fieldset[disabled] .btn {
                cursor: not-allowed;
                pointer-events: none;
                opacity: .65;
                filter: alpha(opacity=65);
                -webkit-box-shadow: none;
                box-shadow: none
            }

            .btn-default {
                color: #333;
                background-color: #fff;
                border-color: #ccc
            }

            .btn-default:hover,
            .btn-default:focus,
            .btn-default:active,
            .btn-default.active,
            .open .dropdown-toggle.btn-default {
                color: #333;
                background-color: #ebebeb;
                border-color: #adadad
            }

            .btn-default:active,
            .btn-default.active,
            .open .dropdown-toggle.btn-default {
                background-image: none
            }

            .btn-default.disabled,
            .btn-default[disabled],
            fieldset[disabled] .btn-default,
            .btn-default.disabled:hover,
            .btn-default[disabled]:hover,
            fieldset[disabled] .btn-default:hover,
            .btn-default.disabled:focus,
            .btn-default[disabled]:focus,
            fieldset[disabled] .btn-default:focus,
            .btn-default.disabled:active,
            .btn-default[disabled]:active,
            fieldset[disabled] .btn-default:active,
            .btn-default.disabled.active,
            .btn-default[disabled].active,
            fieldset[disabled] .btn-default.active {
                background-color: #fff;
                border-color: #ccc
            }

            .btn-default .badge {
                color: #fff;
                background-color: #333
            }

            .btn-primary {
                color: #fff;
                background-color: #428bca;
                border-color: #357ebd
            }

            .btn-primary:hover,
            .btn-primary:focus,
            .btn-primary:active,
            .btn-primary.active,
            .open .dropdown-toggle.btn-primary {
                color: #fff;
                background-color: #3276b1;
                border-color: #285e8e
            }

            .btn-primary:active,
            .btn-primary.active,
            .open .dropdown-toggle.btn-primary {
                background-image: none
            }

            .btn-primary.disabled,
            .btn-primary[disabled],
            fieldset[disabled] .btn-primary,
            .btn-primary.disabled:hover,
            .btn-primary[disabled]:hover,
            fieldset[disabled] .btn-primary:hover,
            .btn-primary.disabled:focus,
            .btn-primary[disabled]:focus,
            fieldset[disabled] .btn-primary:focus,
            .btn-primary.disabled:active,
            .btn-primary[disabled]:active,
            fieldset[disabled] .btn-primary:active,
            .btn-primary.disabled.active,
            .btn-primary[disabled].active,
            fieldset[disabled] .btn-primary.active {
                background-color: #428bca;
                border-color: #357ebd
            }

            .btn-primary .badge {
                color: #428bca;
                background-color: #fff
            }

            .btn-success {
                color: #fff;
                background-color: #5cb85c;
                border-color: #4cae4c
            }

            .btn-success:hover,
            .btn-success:focus,
            .btn-success:active,
            .btn-success.active,
            .open .dropdown-toggle.btn-success {
                color: #fff;
                background-color: #47a447;
                border-color: #398439
            }

            .btn-success:active,
            .btn-success.active,
            .open .dropdown-toggle.btn-success {
                background-image: none
            }

            .btn-success.disabled,
            .btn-success[disabled],
            fieldset[disabled] .btn-success,
            .btn-success.disabled:hover,
            .btn-success[disabled]:hover,
            fieldset[disabled] .btn-success:hover,
            .btn-success.disabled:focus,
            .btn-success[disabled]:focus,
            fieldset[disabled] .btn-success:focus,
            .btn-success.disabled:active,
            .btn-success[disabled]:active,
            fieldset[disabled] .btn-success:active,
            .btn-success.disabled.active,
            .btn-success[disabled].active,
            fieldset[disabled] .btn-success.active {
                background-color: #5cb85c;
                border-color: #4cae4c
            }

            .btn-success .badge {
                color: #5cb85c;
                background-color: #fff
            }

            .btn-info {
                color: #fff;
                background-color: #5bc0de;
                border-color: #46b8da
            }

            .btn-info:hover,
            .btn-info:focus,
            .btn-info:active,
            .btn-info.active,
            .open .dropdown-toggle.btn-info {
                color: #fff;
                background-color: #39b3d7;
                border-color: #269abc
            }

            .btn-info:active,
            .btn-info.active,
            .open .dropdown-toggle.btn-info {
                background-image: none
            }

            .btn-info.disabled,
            .btn-info[disabled],
            fieldset[disabled] .btn-info,
            .btn-info.disabled:hover,
            .btn-info[disabled]:hover,
            fieldset[disabled] .btn-info:hover,
            .btn-info.disabled:focus,
            .btn-info[disabled]:focus,
            fieldset[disabled] .btn-info:focus,
            .btn-info.disabled:active,
            .btn-info[disabled]:active,
            fieldset[disabled] .btn-info:active,
            .btn-info.disabled.active,
            .btn-info[disabled].active,
            fieldset[disabled] .btn-info.active {
                background-color: #5bc0de;
                border-color: #46b8da
            }

            .btn-info .badge {
                color: #5bc0de;
                background-color: #fff
            }

            .btn-warning {
                color: #fff;
                background-color: #f0ad4e;
                border-color: #eea236
            }

            .btn-warning:hover,
            .btn-warning:focus,
            .btn-warning:active,
            .btn-warning.active,
            .open .dropdown-toggle.btn-warning {
                color: #fff;
                background-color: #ed9c28;
                border-color: #d58512
            }

            .btn-warning:active,
            .btn-warning.active,
            .open .dropdown-toggle.btn-warning {
                background-image: none
            }

            .btn-warning.disabled,
            .btn-warning[disabled],
            fieldset[disabled] .btn-warning,
            .btn-warning.disabled:hover,
            .btn-warning[disabled]:hover,
            fieldset[disabled] .btn-warning:hover,
            .btn-warning.disabled:focus,
            .btn-warning[disabled]:focus,
            fieldset[disabled] .btn-warning:focus,
            .btn-warning.disabled:active,
            .btn-warning[disabled]:active,
            fieldset[disabled] .btn-warning:active,
            .btn-warning.disabled.active,
            .btn-warning[disabled].active,
            fieldset[disabled] .btn-warning.active {
                background-color: #f0ad4e;
                border-color: #eea236
            }

            .btn-warning .badge {
                color: #f0ad4e;
                background-color: #fff
            }

            .btn-danger {
                color: #fff;
                background-color: #d9534f;
                border-color: #d43f3a
            }

            .btn-danger:hover,
            .btn-danger:focus,
            .btn-danger:active,
            .btn-danger.active,
            .open .dropdown-toggle.btn-danger {
                color: #fff;
                background-color: #d2322d;
                border-color: #ac2925
            }

            .btn-danger:active,
            .btn-danger.active,
            .open .dropdown-toggle.btn-danger {
                background-image: none
            }

            .btn-danger.disabled,
            .btn-danger[disabled],
            fieldset[disabled] .btn-danger,
            .btn-danger.disabled:hover,
            .btn-danger[disabled]:hover,
            fieldset[disabled] .btn-danger:hover,
            .btn-danger.disabled:focus,
            .btn-danger[disabled]:focus,
            fieldset[disabled] .btn-danger:focus,
            .btn-danger.disabled:active,
            .btn-danger[disabled]:active,
            fieldset[disabled] .btn-danger:active,
            .btn-danger.disabled.active,
            .btn-danger[disabled].active,
            fieldset[disabled] .btn-danger.active {
                background-color: #d9534f;
                border-color: #d43f3a
            }

            .btn-danger .badge {
                color: #d9534f;
                background-color: #fff
            }

            .btn-link {
                color: #0079c1;
                font-weight: 400;
                cursor: pointer;
                border-radius: 0
            }

            .btn-link,
            .btn-link:active,
            .btn-link[disabled],
            fieldset[disabled] .btn-link {
                background-color: transparent;
                -webkit-box-shadow: none;
                box-shadow: none
            }

            .btn-link,
            .btn-link:hover,
            .btn-link:focus,
            .btn-link:active {
                border-color: transparent
            }

            .btn-link:hover,
            .btn-link:focus {
                color: #004975;
                text-decoration: underline;
                background-color: transparent
            }

            .btn-link[disabled]:hover,
            fieldset[disabled] .btn-link:hover,
            .btn-link[disabled]:focus,
            fieldset[disabled] .btn-link:focus {
                color: #999;
                text-decoration: none
            }

            .btn-lg,
            .btn-group-lg>.btn {
                padding: 10px 16px;
                font-size: 18px;
                line-height: 1.33;
                border-radius: 6px
            }

            .btn-sm,
            .btn-group-sm>.btn {
                padding: 5px 10px;
                font-size: 12px;
                line-height: 1.5;
                border-radius: 3px
            }

            .btn-xs,
            .btn-group-xs>.btn {
                padding: 1px 5px;
                font-size: 12px;
                line-height: 1.5;
                border-radius: 3px
            }

            .btn-block {
                display: block;
                width: 100%;
                padding-left: 0;
                padding-right: 0
            }

            .btn-block+.btn-block {
                margin-top: 5px
            }

            input[type=submit].btn-block,
            input[type=reset].btn-block,
            input[type=button].btn-block {
                width: 100%
            }





            .caret {
                display: inline-block;
                width: 0;
                height: 0;
                margin-left: 2px;
                vertical-align: middle;
                border-top: 4px solid;
                border-right: 4px solid transparent;
                border-left: 4px solid transparent
            }

            /*	   --------------------------------------------------------------*/

            .table-header {
                background-color: #00b5af;
                color: white;
            }

            .head-text-container {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 5px 0;
                width: 95%;
                margin: 0 auto;
            }

            .section-heading {
                font-size: 2rem;
                background-color: #dedede;
                padding: 10px 0;
                color: #626265;
                font-weight: 600;
                letter-spacing: .5px;
            }

            .left-sec-head span {
                width: 90px;
                display: inline-block;
            }

            .head-text.booking-id {
                width: 250px;
            }

            .report-heading {
                width: 100%;
                background-color: #00b5b1;
                margin-bottom: 50px;
                font-size: 4rem;
                color: white;
                text-transform: uppercase;
                padding: 5rem 0;
                line-height: 1.5;
            }

            .container {
                margin-right: auto;
                margin-left: auto;
                padding-left: 15px;
                padding-right: 15px
            }

            @media (min-width:768px) {
                .container {
                    width: 750px
                }
            }

            @media (min-width:992px) {
                .container {
                    width: 970px
                }
            }

            @media (min-width:1200px) {
                .container {
                    width: 1170px
                }
            }

            .text-center {
                text-align: center;
            }

            .img-container img {
                width: 100%;
                overflow: hidden;
            }


            /*		==================================================================*/
            :root {
                --main-bg:#b0123b;
                --sub-bg:#ffc5df;
            }
            html {
                box-sizing: border-box;
            }
            * {
                box-sizing: inherit;
            }
            body {
                color: white;
            }
            .heading {
                text-transform: capitalize;
                font-size: 2rem;
                font-weight: 600;
            }
            .head-container {
                background: linear-gradient(to left, #fd746c, #ff9068);
                color: white;
                padding: 2rem 0;
            }
            .sub-head-container {
                padding: 1rem 2rem;
                background: #f7f6f6;
                color: #908788;
                font-size: 1.8rem;
                text-transform: capitalize;
                border-bottom: 2px solid #ff9068;
            }

            .number-details {
                background: #f7f6f6;
                padding: 1rem 0;
                color: #908788;
                font-weight: 600;
            }
            .number-details div {
                padding: 20px;
            }

            /*
            .table-bg {
                    background: linear-gradient(to left, #fd746c, #ff9068); 
            }
            */

            .table-heading {
                text-transform: uppercase;
                padding: 2rem 3rem;
                text-align: center;
                color: #fff;
                letter-spacing: .1rem;
                font-size: 2.3rem;
            }
            th {
                color: #fff;
                font-size: 1.8rem;
                text-transform: capitalize;
                font-weight: 400;
                background: #6353519e;
            }
            tr.package-tr td:nth-child(1) {
                width: 20%;
            }
            tr.package-tr td:nth-child(2) {
                width: 25%;
            }
            td {
                color: #3e3535;
                font-weight: 600;
            }
            .ol-head {
                color: #777;
                text-transform: capitalize;
                font-size: 2rem;
            }
            ol.info-text-ol li {
                color: #736767;
                padding: 5px 0;
                font-size: 1.3rem;
            }

            h2.table-heading i {
                color: #fff;
            }
            h2.table-heading span {
                font-size: 1.6rem;
                text-transform: capitalize;
                color: #6f5864;
                font-weight: 400;
                letter-spacing: 0;
                vertical-align: middle;
                width: 100%;
                display: block;
            }

            .table-bordered>thead>tr>th, .table-bordered>thead>tr>td {
                border-bottom-width: 1px;
            }
            .table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
                border: 1px solid #5d5d5d !important;
            }
            .heading-1 {
                font-size: 18px;
                font-weight: 600;
                letter-spacing: .5px;
            }
            .heading-2 {
                font-size: 18px;
                font-weight: 400;
            }
            .flight {
                background: linear-gradient(to left, #fd746c, #ff9068b8) , url(<?assets\admin\images\airplane.svg) no-repeat; 
                background-size: contain;
                background-position: left;
            }
            .flight td {
                color: #672c26;
            }
            .transfer {
                background:linear-gradient(to left, #a2c300, #add100d6),url(<?= Yii::$app->request->baseUrl . 'web/assets/admin/images/car.png'; ?>) no-repeat;
                background-size: contain;
                background-position: left;

            }
            .transfer td {
                color: #4f5238;
            }
            .activity {
                background: linear-gradient(to left, #0db2d6, #00d2ffa3), url(<?= Yii::$app->request->baseUrl . 'web/assets/admin/images/ballon.png'; ?>) no-repeat;
                background-size: contain;
                background-position: left;
            }
            .activity td {
                color: #4f5238;
            }
            .ticket {
                background:  linear-gradient(to right, #e9b1ffc4, #a476e2), url(<?= Yii::$app->request->baseUrl . 'web/assets/admin/images/ticket.png'; ?>) no-repeat;
                background-position: left;
                background-size: contain;
            }
            .ticket td {
                color: #4f5238;
            }
            td {
                word-break:break-all !important;
            }
            td i {
                color: #5f6153;
                margin-right: 10px;
            }
            @media print {

                html, body {
                    width: 210mm;  
                }
                .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
                    /*
                                    word-wrap: break-word;
                                    white-space: pre-wrap; 
                                    white-space: -o-pre-wrap; 
                                    white-space: -moz-pre-wrap; 
                                    white-space: -pre-wrap;
                    */
                    /*		width: 200px;*/
                    /*		overflow: auto;*/
                }
                table {
                    table-layout:fixed !important;
                    width: 100%;
                    overflow-x: hidden;
                    overflow-y: hidden;
                }
                td {
                    word-break:break-all !important;
                    max-width: 100px;
                    white-space: pre-wrap !important;
                }
            }
            .logo-container {
                background: #0083d1;
                color: white;
                text-transform: uppercase;
                padding: 40px 0;
                text-align: center;
                font-size: 1.4rem;
            }
            .logo-container.small {
                padding: 20px 0;

            }
            .notes-container {
                border: 1px solid rebeccapurple;
                padding: 10px 50px;
                margin-top: 20px;
            }
            ol {
                padding: 0;
            }
            tbody {
                background: #ffffffa8;
            }

            /*		==================================================================*/
